@use "./variables" as *;

.about {
  display: grid;
  grid-template-columns: 0.2fr 2fr 0.2fr 2fr 0.2fr;
  grid-template-rows: 5% 10% 25% 25% 25%;
  height: 50vh;

  &__img2 {
    grid-row-start: 1;
    grid-column-start: 2;
    width: 100%;
  }

  &__text {
    width: fit-content;
    height: fit-content;
    grid-row-start: 1;
    grid-column-start: 4;
    font-size: 12px;
  }
}

h4 {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 24px;
  padding-bottom: 2rem;
  color: $secondary-color;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  h4 {
    padding-top: 2rem;
    padding-bottom: 0rem;
    font-size: 48px;
  }

  .about {
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
    grid-template-rows: 10% 10% 25% 25% 25%;
    height: 70vh;

    &__img2 {
      grid-row-start: 2;
    }

    &__text {
      grid-row-start: 2;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    &__img2 {
      height: auto;
      max-height: 610px;
      width: 40vw;
      max-width: 420px;
      padding-bottom: 4rem;
    }

    &__text {
      grid-row-start: 3;
      font-size: 24px;
    }
  }
}
