@use "./variables" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  width: auto;

  padding: 0.3rem;
  margin: 3px;

  &__name {
    align-self: center;
    margin-left: 0.5rem;
    font-size: 14px;
    font-family: $primary-font;
    color: $secondary-color;
  }

  &__Buttons,
  &__Button,
  &__ButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    font-size: 12px;
  }

  &__ButtonBox {
    border: solid $secondary-color 2px;
    padding: 0.4rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 0.7rem;
    &:hover {
      background-color: $secondary-color;
      color: $tertiary-color;
    }
  }

  &__Button {
    &:hover {
      color: $secondary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 1rem;
    width: 96%;
    &__name {
      font-size: 38px;
    }

    &__Buttons,
    &__Button,
    &__ButtonBox {
      align-items: center;
      text-align: center;
      font-size: 24px;
      margin-left: 2rem;
    }

    &__ButtonBox {
      padding: 1rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: auto;
    &__Buttons,
    &__Button,
    &__ButtonBox {
      margin-left: 3rem;
    }
  }
}
