@use "./variables" as *;

.welcome {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 5% 5% 15%;
  height: 55vh;
  padding: 1rem;

  &__emoji {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: right;
  }

  &__name {
    grid-row-start: 1;
    grid-column-start: 2;
    font-size: 14px;
    align-self: center;
  }

  &__job {
    grid-row-start: 2;
    grid-column-start: 2;
    font-size: 18px;
    color: $secondary-color;
  }

  .salypic[src="./assets/Saly.png"] {
    grid-row-start: 4;
    grid-column-start: 2;
    width: 60vw;
    max-width: 320px;
    max-height: 340px;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    grid-template-columns: 10% 55% 40% 20%;
    grid-template-rows: 5% 16% 20%;
    height: 35vh;
    width: 90%;

    &__emoji {
      justify-self: center;
      grid-row-start: 2;
      font-size: 38px;
    }

    .salypic[src="./assets/Saly.png"] {
      grid-row-start: 1;
      grid-column-start: 3;
      width: 100%;
    }

    &__name {
      grid-row-start: 2;
      font-size: 28px;
      padding-top: 0.5rem;
      align-self: flex-start;
    }

    &__job {
      grid-row-start: 3;
      font-size: 36px;

      grid-column-start: 2;
      width: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .welcome {
    grid-template-columns: 6rem 5fr 0.5fr 1fr 0.4fr;
    grid-template-rows: 15% 10% 25% 25%;
    height: 65vh;
    width: 100vw;

    &__emoji {
      justify-self: right;
    }

    .salypic[src="./assets/Saly.png"] {
      grid-column-start: 4;
      margin-top: 4rem;
      width: 30vw;
      max-width: fit-content;
      max-height: fit-content;
    }

    &__name {
      font-size: 38px;
      justify-self: center, left;
    }

    &__job {
      font-size: 54px;
    }
  }
}
