@use "./variables" as *;
@use "./navbar" as *;

@use "./welcome" as *;
@use "./about" as *;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: $secondary-font;
}

a,
ul,
li {
  all: unset;
}

// ul, li{
//     display: flex;
//     flex-direction: row;
//     margin-left: 3rem;
// }
