@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap");
.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.navbar__Buttons, .navbar__Button, .navbar__ButtonBox {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  align-items: center;
  text-align: center;
}
.navbar__ButtonBox {
  border: solid black 1px;
  padding: 1rem;
  border-radius: 1rem;
  margin-left: 2rem;
}
.navbar__ButtonBox:hover {
  background-color: #ebebeb;
  color: orange;
}
.navbar__Button:hover {
  color: orange;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

a,
ul,
li {
  all: unset;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 38px;
  align-self: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: 25% 5% 25% 25%;
  height: 65vh;
}

.img1 {
  grid-column-start: 4;
  margin-top: 1rem;
}

h2 {
  grid-row-start: 2;
  grid-column-start: 2;
}

.emoji {
  grid-row-start: 2;
  grid-column-start: 1;
  justify-self: right;
}

h3 {
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 54px;
  width: max-content;
}

.about {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
  grid-template-rows: 20% 10% 25% 25% 25%;
  height: 70vh;
}
.about__img2 {
  grid-row-start: 1;
  grid-column-start: 2;
  width: 100%;
}
.about__title {
  grid-row-start: 2;
  grid-column-start: 4;
  font-size: 38px;
}
.about__text {
  grid-row-start: 3;
  grid-column-start: 4;
  width: fit-content;
  height: fit-content;
}