@use "./component" as *;
@use "./layout" as *;
@use "./variables" as *;
@use "./navbar" as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap');


* {
  padding: 0px;
  margin: 0px;
  font-family: $secondary-font;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

a,
ul,
li {
  all: unset;
}

h1 {
  font-family: $primary-font;
  font-size: 38px;
  align-self: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr .4fr;
    grid-template-rows: 25% 5% 25% 25% ;
    height: 65vh;
}

.img1{
    grid-column-start: 4;
    margin-top: 1rem;
}

h2{
    grid-row-start: 2;
    grid-column-start: 2;
    
}
.emoji{
    grid-row-start: 2;
    grid-column-start: 1;
    justify-self: right;
    
}

h3{
    grid-row-start: 3;
    grid-column-start: 2;
    font-size: 54px;
    width: max-content;
}

.about{
    display: grid;
    grid-template-columns: .5fr 2fr .5fr 2fr .5fr;
    grid-template-rows: 20% 10% 25% 25% 25% ;
    height: 70vh;

    &__img2{
        grid-row-start:  1;
        grid-column-start: 2;
        width: 100%;
    }
    
    &__title{
        grid-row-start: 2;
        grid-column-start: 4;
        font-size: 38px;
    }

    &__text{
        grid-row-start: 3;
        grid-column-start: 4;
        width:fit-content;
        height: fit-content;
    }

}



// ul, li{
//     display: flex;
//     flex-direction: row;
//     margin-left: 3rem;
// }
